:root {
  --background-gradient: linear-gradient(
    var(--color-gray-100),
    var(--color-blue-200)
  );
  --foreground: var(--color-gray-300);
  --border: var(--color-gray-500);
  --link: var(--color-blue-400);
  --link-hover: var(--color-blue-500);
  --text: var(--color-gray-900);
  --text-inverted: var(--color-gray-100);
}

[data-theme="dark"] {
  --background-gradient: linear-gradient(
    var(--color-gray-900),
    var(--color-blue-900)
  );
  --foreground: var(--color-gray-700);
  --border: var(--color-gray-500);
  --link: var(--color-blue-400);
  --link-hover: var(--color-blue-300);
  --text: var(--color-gray-100);
  --text-inverted: var(--color-gray-900);
}

body {
  background-image: var(--background-gradient);
  color: var(--text);
  border-color: var(--border);
  min-height: 100vh;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}
